recursive-include src *.py *.pot
recursive-include data *.ttf *.png *.dae *.ogg *.txt *.ini *.sh *.mid *.mo *.po
include Makefile
include readme.txt copying.txt install.txt
include MANIFEST.in MANIFEST

